allow untrusted_app proc_version:file open;
allow untrusted_app proc_version:file getattr;
allow untrusted_app hal_memtrack_hwservice:hwservice_manager find;
allow untrusted_app hal_memtrack_default:binder call;
